* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
}

.nightmode {
    background: #000;
}

.name {
    background-color: blue;
    color: white;
    transform: translateX(-1500px);
    transition: 1s;
}

.name2 {
    background-color: rgb(205, 115, 115);
    color: blue;
    transform: translateX(0);

}